NODE_ENV=development
APP_URL=http://localhost:3000
PORT=3000
HOST=0.0.0.0
DATABASE_URL=postgresql://user:password@localhost:5432/mssn_db
PAYSTACK_SECRET_KEY=...
PAYSTACK_PUBLIC_KEY=...
CLOUDFLARE_ACCOUNT_ID=...
CLOUDFLARE_ACCESS_KEY_ID=...
CLOUDFLARE_SECRET_ACCESS_KEY=...
CLOUDFLARE_BUCKET_NAME=...
PLUNK_API_KEY=...
PLUNK_FROM_EMAIL=...
KUDISMS_API_TOKEN=...
KUDISMS_SENDER_ID=...
GOOGLE_GEMINI_API_KEY=...